
dt {
	font-weight: bold;
}

dd {
	margin: 0 0 1em;
	font-size: .8125em;
	color: #555;
}

ul, ol {
	padding-left: 1.5em;
}

a img {
	border: 0;
}

figure {
	margin: 0;
}


table {
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.container section + section {
	margin-top: 3em;
	border-top: 1px solid #ccc;
	padding-top: 1em;
}

.thumbnails {
	overflow: hidden;
	margin: 1em 0;
	padding: 0;
	text-align: center;
}

.thumbnails li {
	display: inline-block;
	width: 140px;
	margin: 0 5px;
}

.thumbnails img {
	display: block;
	min-width: 100%;
	max-width: 100%;
}

.toggle {
	display: block;
	margin: 10px auto 1.5em;
}
