<template>   
<div id="app">
  <v-app id="inspire">
    <mymenu :pages="pages" ref="navmenu"></mymenu>
    <v-toolbar
      color="blue darken-3"
      dark
      app
      :clipped-left="$vuetify.breakpoint.mdAndUp"
      fixed
    >
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.native="$refs.navmenu.drawer = !$refs.navmenu.drawer">
        </v-toolbar-side-icon>
        <span class="hidden-sm-and-down">Smart Choice</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <div>
        <span>ВЫЙТИ </span>
        <v-btn icon @click.native="logout()">
            <v-icon>exit_to_app</v-icon>
        </v-btn>
      </div>
    </v-toolbar>
    <v-content>
        <v-container fluid fill-height>
            <v-layout justify-center>
                <transition name="fade">    
                    <v-container grid-list-sm>
                        <router-view></router-view>
                    </v-container>
                </transition>
            </v-layout>
        </v-container>
      </v-content>
      <transition name="fade">
        <flash-message class="flash-container"></flash-message>
      </transition>
  </v-app>
</div>
</template>

<script>
    import VueRouter from 'vue-router'
    import routes from '../routes'
    import mymenu from './@common/menu.vue'

    const router = new VueRouter({
        mode: 'history',
        base: '/admin/',
        routes,
    })

    export default {
        router,

        components: {
            mymenu
        },

        data() {
            return {
                pages: routes,
                drawer: null
            }
        },

        methods: {
            logout () {
                this.$http.get('logout').then(() => {
                    window.location = '/admin';
                });
            }
        }
    }
</script>
<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0;
    }
    .flash-container{
        position: fixed;
        top: 100px;
        right: 50px;
        font-size: 16px;
    }
    .flash__message {
        font-size: 14px !important;
        color: white !important;
        padding: 10px 30px 10px 15px !important;
    }
</style>