 <template>
    <card-page :title="$route.name"
        edit-url="/categories"
        :loading="loading"
        @save="save()">
        <category-form ref="form"
            :category="category"
            mode="update"
        ></category-form>
    </card-page>
</template>

<script>
    import CategoryForm from './form.vue';
    import CardPage from '../@common/cardPageLayout.vue';

    export default {
        data() {
            return {
                loading: false,
                category: {
                    name: '',
                    slug: '',
                    order: '',
                    model_id: null,
                }
            }
        },

        components: {
            CategoryForm,
            CardPage
        },

        created () {
            this.load();
        },

        methods: {
            load () {
                this.$http.get(`categories/${this.$route.params.id}`).then((category) => {
                    this.category = category; 
                }); 
            },

            async save () {
                if (this.$refs.form.validate()){

                    const data = new FormData();

                    for (let key in this.category) {
                        data.append(key, this.category[key]);
                    }

                    try {
                        this.loading = true;
                        let response = await this.$http.post(`categories/${this.$route.params.id}`, data);
                        this.loading = false;
                        await this.load();
                        if (response.result == 'success') {
                            this.flash('Категория обновлёна', 'success');
                        }
                    } catch (e) {
                        this.flash(`Ошибка: ${e.message}`, 'error');                    
                    }
                }
            }
        }
    }
</script>