<template>
    <v-form v-model="valid" ref="form" lazy-validation>
        <v-layout child-flex wrap>
            <v-flex md6>
                <v-text-field
                    label="Название категории"
                    v-model="category.name"
                    :rules="reqRules"
                    required
                ></v-text-field>
            </v-flex>

            <v-flex md6>
                <v-select
                        :items="models"
                        v-model="category.model_id"
                        item-text="name"
                        item-value="id"
                        label="Выберите тип продукта"
                        autocomplete
                        :rules="reqRules"
                        required
                ></v-select>
            </v-flex>

            <v-flex md6>
                <v-text-field
                    label="Ссылка категории"
                    v-model="category.slug"
                    :rules="reqRules"
                    required
                ></v-text-field>
            </v-flex>

            <v-flex md6>
                <v-text-field
                    label="Порядок категории"
                    v-model="category.order"
                    :rules="reqRules"
                    required
                ></v-text-field>
            </v-flex>

            <v-flex md12>
                <v-text-field
                    label="Описание категории"
                    v-model="category.description"
                    multi-line
                ></v-text-field>
            </v-flex>
        </v-layout>
    </v-form>
</template>

<script>
    export default {
        props: { 
            category: Object,
            mode: String
        },
        
        data() {
            return {
                valid: true,
                reqRules: [
                    v => !!v || 'Это обязательное поле'
                ],
                models: [],
            }
        },

        methods: {
            validate () {
                return this.$refs.form.validate();
            },
            clear () {
                this.$refs.form.reset()
            }
        },

        created () {
            this.$http.get('models').then((response) => {
                this.models = response;
            });
        }
    }
</script>

<style scoped>
    input[type=file] {
        position: absolute;
        left: -99999px;
    }
</style>