<template>
    <card-page 
        :title="$route.name" 
        :loading="loading"
        @clear="clear()"
        @save="save()">
        <case-form ref="form"
            :case-type="caseType"
            mode="create"
        ></case-form>
    </card-page>
</template>

<script>
    import caseForm from './form.vue';
    import CardPage from '../@common/cardPageLayout.vue';

    export default {
        data() {
            return {
                loading: false,
                caseType: {}
            }
        },

        components: {
            caseForm,
            CardPage
        },

        methods: {
            
            clear () {
                this.$refs.form.clear();
            },

            async save () {
                if (this.$refs.form.validate()){

                    const data = new FormData();

                    for (let key in this.caseType) {                   
                        data.append(key, this.caseType[key]);
                    }

                    try {
                        this.loading = true;
                        let response = await this.$http.post('cases', data);
                        this.loading = false;
                        if (response.result == 'success') {
                            this.flash(`Тип чехла создан`, 'success');
                        }
                        this.$refs.form.clear();
                    } catch (e) {
                        this.loading = false;
                        this.flash(`Ошибка ${e.message}`, 'error');
                    }
                }
            }
        }
    }
</script>