 <template>
    <card-page :title="$route.name"
        edit-url="/cases"
        :loading="loading"
        @save="save()">
        <case-form ref="form"
            :case-type="caseType"
            mode="update"
        ></case-form>
    </card-page>
</template>

<script>
    import CaseForm from './form.vue';
    import CardPage from '../@common/cardPageLayout.vue';

    export default {
        data() {
            return {
                loading: false,
                caseType: {
                    name: '',
                    slug: '',
                    order: ''
                }
            }
        },

        components: {
            CaseForm,
            CardPage
        },

        created () {
            this.load();
        },

        methods: {
            load () {
                this.$http.get(`cases/${this.$route.params.id}`).then((caseType) => {
                    this.caseType = caseType;
                }); 
            },

            async save () {
                if (this.$refs.form.validate()){

                    const data = new FormData();

                    for (let key in this.caseType) {
                        data.append(key, this.caseType[key]);
                    }

                    try {
                        this.loading = true;
                        let response = await this.$http.post(`cases/${this.$route.params.id}`, data);
                        this.loading = false;
                        await this.load();
                        if (response.result == 'success') {
                            this.flash('Тип чехла обновлён', 'success');
                        }
                    } catch (e) {
                        this.flash(`Ошибка: ${e.message}`, 'error');                    
                    }
                }
            }
        }
    }
</script>