<template>
    <card-page 
        :title="$route.name" 
        :loading="loading"
        @clear="clear()"
        @save="save()">
        <series-form ref="form"
            :seria="seria" 
            mode="create"
        ></series-form>
    </card-page>
</template>

<script>
    import SeriesForm from './form.vue';
    import CardPage from '../@common/cardPageLayout.vue';

    export default {
        data() {
            return {
                loading: false,
                seria: {}
            }
        },

        components: {
            SeriesForm,
            CardPage
        },

        methods: {
            
            clear () {
                this.$refs.form.clear();
            },

            async save () {
                if (this.$refs.form.validate()){
                    let postObject = {};

                    for (let key in this.seria) {
                        if (key !== 'image') {
                            postObject[key] = this.seria[key];
                        }
                    }

                    let json = JSON.stringify(postObject);

                    this.loading = true;

                    let formData = new FormData();
                    formData.append('json', json);
                    formData.append('image', this.seria['image']);

                    this.$http.post('series', formData).then((response) => {
                        if (response.result == 'success') {
                            this.flash(`Серия создана`, 'success');
                            this.loading = false;
                            this.$refs.form.clear();
                        }
                    },() => {
                        this.loading = false;
                        this.flash(`Ошибка ${e.message}`, 'error');
                    });
                }
            }
        }
    }
</script>