 <template>
  <card-page :title="$route.name" edit-url="/models" :loading="loading" @save="save()">
    <series-form
      ref="form"
      :categories="categories"
      :seria="seria"
      :loading="loading"
      mode="update"
      @sync="syncCategories"
      @detach="detachCategory"
    ></series-form>
  </card-page>
</template>

<script>
import SeriesForm from "./form.vue";
import CardPage from "../@common/cardPageLayout.vue";

export default {
  data() {
    return {
      loading: false,
      seria: {},
      categories: [],
    };
  },

  components: {
    SeriesForm,
    CardPage
  },

  created() {
    this.load();
  },

  methods: {
    load() {
      this.loading = true;

      this.$http.get(`series/${this.$route.params.id}`).then(seria => {
        this.seria = seria;

        this.$http.get(`models/${this.seria.model_id}/categories`).then((response) => {
          this.categories = response;
          this.loading = false;
        });
      });
    },

    async save() {
      if (this.$refs.form.validate()) {
        let postObject = {};

        for (let key in this.seria) {
          if (key !== 'image') {
            postObject[key] = this.seria[key];
          }
        }

        let json = JSON.stringify(postObject);

        let formData = new FormData();
        formData.append('json', json);
        formData.append('image', this.seria['image']);

        try {
          this.loading = true;
          let response = await this.$http.post(`series/${this.$route.params.id}`, formData);
          this.loading = false;
          await this.load();
          if (response.result == "success") {
            this.flash("Модель обновлёна", "success");
          }
        } catch (e) {
          this.flash(`Ошибка: ${e.message}`, "error");
        }
      }
    },
    syncCategories(selectedCategories) {
      let data = new FormData();
      data.append("categories", selectedCategories);

      this.$http
        .post("series/" + this.seria.id + "/categories", data)
        .then(response => {
          this.load();
          this.flash("Категории обновлёны", "success");
        });
    },
    detachCategory(categoryId) {
      this.$http
        .delete("series/" + this.seria.id + "/categories/" + categoryId)
        .then(response => {
          this.load();
          this.flash("Категория отвязана", "success");
        });
    }
  }
};
</script>