<template>
    <v-form v-model="valid" ref="form" lazy-validation>
        <v-layout child-flex wrap>
            <v-flex md6>
                <v-text-field
                        label="Название модели"
                        v-model="seria.name"
                        :rules="reqRules"
                        required
                ></v-text-field>
            </v-flex>

            <v-flex md6>
                <v-select
                        :items="productModels"
                        v-model="seria.model_id"
                        item-text="name"
                        item-value="id"
                        label="Выберите тип продукта"
                        autocomplete
                        :rules="reqRules"
                        required
                ></v-select>
            </v-flex>

            <v-flex md12>
                <v-layout child-flex wrap>
                    <v-flex md6>
                        <v-text-field prepend-icon="attach_file"
                                      single-line
                                      v-model="mainFileName"
                                      label="Картинка модели"
                                      @click.native="onFocus()"
                                      ref="fileTextField">
                        </v-text-field>
                        <input type="file" ref="mainFileInput" @change="onFileChange">
                    </v-flex>
                    <v-flex md4>
                        <v-btn v-if="seria.image_url && mode === 'update' && !hideImage"
                               color="primary" dark
                               @click.stop="dialog = true">
                            Смотреть
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-flex>

            <v-flex md6>
                <v-text-field
                        label="Ссылка модели"
                        v-model="seria.slug"
                        :rules="reqRules"
                        required
                ></v-text-field>
            </v-flex>

            <v-flex md6>
                <v-text-field
                        label="Порядок модели"
                        v-model="seria.order"
                        :rules="reqRules"
                        required
                ></v-text-field>
            </v-flex>

            <v-flex md12>
                <vue-editor v-model="seria.description" placeholder="Описание модели"></vue-editor>
            </v-flex>

            <v-flex md6>
                <v-checkbox label="Матрас из двух половин" v-model="secondHalf"></v-checkbox>
            </v-flex>

            <v-flex md6>
                <v-text-field
                        label="Высота"
                        v-model.number="seria.height"
                ></v-text-field>
            </v-flex>

            <v-flex md6>
                <v-text-field
                        label="Максимальная нагрузка"
                        v-model.number="seria.weight"
                ></v-text-field>
            </v-flex>

            <v-flex md6 v-if="secondHalf">
                <v-text-field
                        label="Максимальная нагрузка второй половины"
                        v-model.number="seria.weight_2"
                ></v-text-field>
            </v-flex>

            <v-flex md6>
                <v-text-field
                        label="Жесткость первой стороны"
                        v-model.number="seria.feel_1"
                ></v-text-field>
            </v-flex>

            <v-flex md6>
                <v-text-field
                        label="Жесткость второй стороны"
                        v-model.number="seria.feel_2"
                ></v-text-field>
            </v-flex>

            <template v-if="secondHalf">
                <v-flex md6>
                    <v-text-field
                            label="Жесткость первой половины на первой стороне"
                            v-model.number="seria.feel_3"
                    ></v-text-field>
                </v-flex>

                <v-flex md6>
                    <v-text-field
                            label="Жесткость второйполовины на второй стороне"
                            v-model.number="seria.feel_4"
                    ></v-text-field>
                </v-flex>
            </template>

            <template v-if="mode === 'update'">
                <v-flex md12>
                    <h3>Выберите категории для модели</h3>
                    <template v-if="seria.categories" v-for="(item,idx) in seria.categories">
                        <span :key="idx">{{item.name}} <v-icon class="redIcon"
                                                               @click="detachCategory(item.id)">delete</v-icon></span>
                    </template>
                </v-flex>
                <v-flex md8>
                    <v-select
                            :items="categories"
                            v-model="selectedCategories"
                            item-text="name"
                            item-value="id"
                            label="Выберите категории"
                            autocomplete
                            multiple
                    ></v-select>
                </v-flex>
                <v-flex md4>
                    <v-btn @click.native="syncCategories()">Сохранить категории</v-btn>
                </v-flex>
            </template>

        </v-layout>
        <v-dialog v-model="dialog" max-width="500px">
            <v-card>
                <v-card-text>
                    <img :src="seria.image_url" width="400px"/>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" flat @click.stop="dialog=false">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-form>
</template>

<script>
    import { VueEditor } from 'vue2-editor';
    export default {
        props: {
            seria: Object,
            mode: String,
            loading: Boolean,
            categories: Array,
        },

        components: {
            VueEditor
        },

        data() {
            return {
                valid: true,
                secondHalf: false,
                productModels: [],
                hideImage: false,
                dialog: false,
                selectedCategories: [],
                mainFileName: '',
                reqRules: [
                    v => !!v || 'Это обязательное поле'
                ]
            }
        },

        computed: {
            filteredCatefories: function () {
                const ids = this.selectedCategories.map(item => item.id);

                return this.categories.filter(item => !~ids.indexOf(item.id));
            }
        },

        watch: {
            loading: function () {
                if (this.mode === 'update') {
                    this.mainFileName = this.seria.image;
                    this.secondHalf = !!(this.seria.weight_2 || this.seria.feel_3 || this.seria.feel_4);
                    this.selectedCategories = [];
                    this.selectedCategories = this.selectedCategories.concat(this.seria.categories);
                }
            }
        },

        methods: {
            onFocus() {
                this.$refs.mainFileInput.click();
            },
            onFileChange($event) {
                if (this.mode = 'update') {
                    this.hideImage = true;
                }
                this.seria.image = $event.target.files[0] || $event.dataTransfer.files[0];
                this.mainFileName = $event.target.files[0].name || $event.dataTransfer.files[0].name;
            },
            syncCategories() {
                this.$emit('sync', this.selectedCategories);
            },
            detachCategory(categoryId) {
                this.$emit('detach', categoryId);
            },
            validate() {
                return this.$refs.form.validate();
            },
            clear() {
                this.$refs.form.reset()
            }
        },

        created() {
            this.$http.get('models').then((response) => {
                this.productModels = response;
                if (this.mode === 'update') {
                    this.mainFileName = this.seria.image;
                    this.secondHalf = !!(this.seria.weight_2 || this.seria.feel_3 || this.seria.feel_4);
                }
            });
        },
    }
</script>

<style scoped>
    input[type=file] {
        position: absolute;
        left: -99999px;
    }

    h3 {
        margin: 15px;
    }

    .redIcon {
        color: red;
    }

</style>