<template>
    <card-page hide-actions>
        <div class="filters">
            <v-text-field
                    label="Фильтр по названию"
                    v-model="filterName"
            ></v-text-field>
            <v-select
                    :items="productModels"
                    v-model="filterModel"
                    item-text="name"
                    item-value="id"
                    label="Фильтр по типу продукта"
                    autocomplete
            ></v-select>
        </div>
        <v-data-table
            :headers="headers"
            :items="filteredSeries"
            hide-actions
            class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <td class="text-md-left">{{ props.item.order }}</td>
                <td class="text-md-left">{{ props.item.name }}</td>
                <td class="text-md-center">{{ getName(props.item.model_id) }}</td>
                <td class="justify-center layout px-0">
                    <v-btn icon class="mx-0" @click="editItem(props.item)">
                    <v-icon color="teal">edit</v-icon>
                    </v-btn>
                    <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                    <v-icon color="pink">delete</v-icon>
                    </v-btn>
                </td>
            </template>
        </v-data-table>
    </card-page>
</template>

<script>
    import CardPage from '../@common/cardPageLayout.vue';

    export default {
        components: {
            CardPage
        },

        data() {
            return {
                series: [],
                productModels: [],
                filterModel: null,
                filterName: '',
                headers: [
                    {
                        text: 'Порядковый номер',
                        align: 'center',
                        sortable: false,
                        value: 'order'
                    },
                    {
                        text: 'Название категории',
                        align: 'left',
                        sortable: false,
                        value: 'name_ru'
                    },
                    { 
                        text: 'Тип продукта',
                        align: 'center',
                        value: 'model_id',
                        sortable: false 
                    },
                    { text: '', align: 'center', value: 'name', sortable: false }
                ]
            }
        },

        created () {
            this.load();
        },

        computed: {
            filteredSeries: function () {
                let filteredSeries = this.series;

                if (this.filterName) {
                    filteredSeries = filteredSeries.filter(seria => {
                        return seria.name.indexOf(this.filterName) !== -1;
                    });
                }

                if (this.filterModel) {
                    filteredSeries = filteredSeries.filter(seria => {
                        return seria.model_id === this.filterModel;
                    });
                }

                return filteredSeries;
            }
        },

        methods: {
            load () {
                this.$http.get('series').then((response) => {
                    this.series = response;
                });

                this.$http.get('models').then((res) => {
                    this.productModels = res;
                });
            },

            async deleteItem (item) {
                try {
                    let response = await this.$http.delete(`series/${item.id}`);
                    await this.load();
                    this.flash('Серия успешно удалёна', 'success');
                } catch(e) {
                    this.flash('Ошибка', 'error');
                }
                
            },
            editItem (item) {
                this.$router.push(`/series/${item.id}`);
            },
            getName (modelId) {
                return this.productModels.find(item => item.id === modelId).name;
            },
        }
    }
</script>

<style>
    .v-card, .card {
        width: 100%;
    }
    .v-table, .table__overflow {
        overflow-x: hidden !important;
    }
</style>