<template>
    <div class="flex-container mt-50">
        <div class="filters">
            <div class="filter-block">
                <p>Характиристики</p>
                <a>значение 1</a>
                <a>значение 2</a>
                <a>значение 3</a>
            </div>
            <div class="filter-block">
                <p>Характиристики</p>
                <a>значение 1</a>
                <a>значение 2</a>
                <a>значение 3</a>
            </div>
        </div>
        <div class="item-list">
            <div class="item resize">
                <a href="/inner">
                    <div class="image-container">
                        <img :src="'/assets/index/img/book.jpg'" class="book" alt="">
                        <img :src="'/assets/index/img/shadow.png'" class="shadow" alt="">	        	
                    </div>
                    <div class="info">
                        <p class="bookName">Название</p>
                        <p class="bookAuthor">Автор</p>
                        <p class="bookPrice">20 BYN</p>
                    </div>
                </a>
            </div>
            <div class="item resize">
                <a href="/inner">
                    <div class="image-container">
                        <img :src="'/assets/index/img/book.jpg'" class="book" alt="">
                        <img :src="'/assets/index/img/shadow.png'" class="shadow" alt="">	        	
                    </div>
                    <div class="info">
                        <p class="bookName">Название</p>
                        <p class="bookAuthor">Автор</p>
                        <p class="bookPrice">20 BYN</p>
                    </div>
                </a>
            </div>
            <div class="item resize">
                <a href="/inner">
                    <div class="image-container">
                        <img :src="'/assets/index/img/book.jpg'" class="book" alt="">
                        <img :src="'/assets/index/img/shadow.png'" class="shadow" alt="">	        	
                    </div>
                    <div class="info">
                        <p class="bookName">Название</p>
                        <p class="bookAuthor">Автор</p>
                        <p class="bookPrice">20 BYN</p>
                    </div>
                </a>
            </div>
            <div class="item resize">
                <a href="/inner">
                    <div class="image-container">
                        <img :src="'/assets/index/img/book.jpg'" class="book" alt="">
                        <img :src="'/assets/index/img/shadow.png'" class="shadow" alt="">	        	
                    </div>
                    <div class="info">
                        <p class="bookName">Название</p>
                        <p class="bookAuthor">Автор</p>
                        <p class="bookPrice">20 BYN</p>
                    </div>
                </a>
            </div>
            <div class="item resize">
                <a href="/inner">
                    <div class="image-container">
                        <img :src="'/assets/index/img/book.jpg'" class="book" alt="">
                        <img :src="'/assets/index/img/shadow.png'" class="shadow" alt="">	        	
                    </div>
                    <div class="info">
                        <p class="bookName">Название</p>
                        <p class="bookAuthor">Автор</p>
                        <p class="bookPrice">20 BYN</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
	props: ['url'],
	data () {
	    return {
            books: []
        }
	},
	created () {
		this.load();
	},
    methods: {
    	async load () {
    		//this.books = await this.$http.get(this.url);
    	}
    }
}
</script>