<template>
    <div class="slider-with-categories">
        <div class="categories">
            <button
                    v-if="categories.length > 1"
                    class="category"
                    :class="{'active': category.id === activeCategoryId}"
                    @click="setActiveCategoryId(category.id); fetchSeries();"
                    v-for="(category, idx) in categories"
                    :key="idx">
                <span>{{category.name}}</span>
            </button>
        </div>
        <div class="filters">
            <div v-if="modelId !== '12'">
                <label for="sizes">Выберите размер </label>
                <br>
                <select name="sizes"
                        id="sizes"
                        v-model="activeSizeId"
                        @change="setActiveSize(activeSizeId)">
                    <option
                        v-for="(size, idx) in fSizes"
                        :key="idx"
                        :value="size.id">
                        {{ size.name }}
                    </option>
                </select>
            </div>
            <div v-if="modelId == '14'">
                <label for="sizes">Выберите тип чехла </label>
                <br>
                <select
                        name="caseTypes"
                        id="caseTypes"
                        v-model="activeCaseTypeId"
                        @change="fetchSeries">
                    <option :value="0">Выберите тип чехла</option>
                    <option v-for="(caseType, idx) in caseTypes"
                            :key="idx"
                            :value="caseType.id">
                        {{ caseType.name }}
                    </option>
                </select>
            </div>
        </div>
        <swiper :options="swiperOption" v-if="products.length > 0">
            <swiper-slide class="resize" v-for="(product, idx) in products" :key="idx">
                <div class="image-container">
                    <img :src="product.series.image_url" class="book" alt="">
                </div>
                <div class="info">
                    <h4 class="title">{{ product.series.name }}</h4>
                    <div class="description"
                         v-if="product.series.description"
                         v-html="product.series.description">
                    </div>
                    <div class="characteristics">
                        <div class="weight-block">
                            <p v-if="product.series.weight">
                                <template v-if="product.series.weight_2">
                                    Максимальная нагрузка 1-ой половины(кг) -
                                </template>
                                <template v-else>
                                    Максимальная нагрузка(кг) -
                                </template>
                                <span>{{ product.series.weight }}
                            </span></p>
                            <p v-if="product.series.weight_2">
                                Максимальная нагрузка 2-ой половины(кг) - <span>{{ product.series.weight_2 }}
                            </span></p>
                        </div>
                        <div class="feel-block">
                            <p v-if="product.series.feel_1">
                                <template v-if="product.series.feel_3">
                                    Жёсткость 1-ой стороны 1-ой половины -
                                </template>
                                <template v-else>
                                    Жёсткость 1-й стороны -
                                </template>
                                <span>{{ product.series.feel_1 }}h</span>
                            </p>
                            <p v-if="product.series.feel_2">
                                <template v-if="product.series.feel_3">
                                    Жёсткость 2-ой стороны 1-ой половины -
                                </template>
                                <template v-else>
                                    Жёсткость 2-й стороны -
                                </template>
                                <span>{{ product.series.feel_2 }}h
                            </span></p>
                            <p v-if="product.series.feel_3">
                                Жёсткость 1-ой стороны 2-ой половины - <span>{{ product.series.feel_3 }}h
                            </span></p>
                            <p v-if="product.series.feel_4">
                                Жёсткость 2-ой стороны 2-ой половины - <span>{{ product.series.feel_4 }}h
                            </span></p>
                        </div>
                        <div class="height-block" v-if="product.series.height">
                            <p>Высота(см) - <span>{{ product.series.height }}</span></p>
                        </div>
                        <div class="size-block" v-if="modelId !== '12'">
                            <p>Размер(см) - <span>{{  product.size.name  }}</span></p>
                        </div>
                        <div class="case-block"
                             v-if="this.modelId === '14'">
                            <p>Чехол - <span>{{  product.case_type.name  }}</span></p>
                        </div>
                    </div>
                    <a class="price"
                       @click="showDialog(product)">
                        Заказать {{ product.price }} BYN
                    </a>

                </div>
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
            <template v-if="products.length > 1">
                <div class="swiper-button-prev" slot="button-prev"></div>
                <div class="swiper-button-next" slot="button-next"></div>
            </template>
        </swiper>
        <div v-else class="no-results">
            <h3>Товаров подходящих вашему запросу не нашлось.</h3>
            <p>Подробнee узнавайте по телефонам
                <a href="tel: +375293660772">+375(29) 366-07-72 (Velcom) </a> и
                <a href="tel: +375295560772">+375(29) 556-07-72 (MTC)</a>
            </p>
        </div>
        <div v-show="showModal === true" class="popup">
            <div class="popup-inner">
                <h3>Заполните форму заявки</h3>
                <p>После отправки, в ближайшее время с вами свяжется наш менеджер</p>
                <form class="send-email">
                    <label for="product">Модель</label>
                    <input type="text" id="product" disabled v-model="activeProductName">
                    <label for="userName">Ваше имя</label>
                    <input id="userName" type="text" placeholder="Ваше имя" v-model="userName">
                    <label>Телефон</label>
                    <masked-input id="phone" type="text" mask="\+375\ (11) 111-11-11" v-model="telephone"/>
                </form>
                <div class="actions">
                    <button class="close" @click="showModal = false">Закрыть</button>
                    <button :id="`product-form-${activeProductId}`" @click="sendEmail()" :disabled="!validForm">
                        <template v-if="!sended && !sending">Отправить</template>
                        <template v-if="sending"><span><span class="fa fa-spinner fa-spin"></span> Отправка</span></template>
                        <template v-if="!sending && sended"><span><span class="fa fa-check"></span> Заявка принята</span></template>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {swiper, swiperSlide} from 'vue-awesome-swiper'
    import 'swiper/dist/css/swiper.css'
    import MaskedInput from 'vue-masked-input'

    export default {
        props: ['modelId', 'sizes', 'caseTypes'],

        data() {
            return {
                swiperOption: {
                    loop: false,
                    pagination: {
                        el: '.swiper-pagination',
                        type: 'fraction'
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    },
                },
                categories: [],
                products: [],
                books: [],
                activeCategoryId: 0,
                activeSizeId: null,
                activeCaseTypeId: 0,
                showModal: false,
                sended: false,
                sending: false,
                activeProductName: '',
                activeProductId: 0,
                userName: '',
                telephone: '',
                key: ''
            }
        },
        components: {
            swiper,
            swiperSlide,
            MaskedInput
        },
        computed: {
          fSizes: function () {
              return this.sizes.filter(item =>
                  (this.modelId === '12' && item.slug === 'p') || this.modelId !== '12' && item.slug !== 'p')
          },
          validForm: function () {
              const validate = new RegExp('^\\+375(\\s+)?\\(?(17|25|29|33|44)\\)?(\\s+)?[0-9]{3}-?[0-9]{2}-?[0-9]{2}$');

              return !!this.userName && validate.test(this.telephone);
          }
        },
        created() {
            this.key = this.modelId === '12' ? 'size_p' : 'size';

            this.activeSizeId = this.fSizes.length ? this.fSizes[0].id : null;

            this.$http.get(`categories/${this.modelId}`).then(response => {
                this.categories = response;

                if (response.length > 0) {
                    let firstCategory = response[0];
                    this.activeCategoryId = firstCategory.id;
                }

                this.fetchSeries();
            });

            window.setInterval(() => {
              const localSize = localStorage.getItem(this.key);

              if (localSize && this.activeSizeId !== localSize) {
                this.activeSizeId = localSize;
                this.fetchSeries();
              }
            }, 100);
        },
        methods: {
            fetchSeries() {
                let setQuery = this.activeCategoryId
                    || this.activeCaseTypeId
                    || this.activeSizeId;
                let query = '';

                if (setQuery) {
                    let parameters = [];

                    if (this.activeCategoryId) {
                        parameters.push(`category=${this.activeCategoryId}`);
                    }
                    if (this.activeSizeId  && this.modelId !== '12') {
                        parameters.push(`size=${this.activeSizeId}`);
                    }
                    if (this.activeCaseTypeId) {
                        parameters.push(`caseType=${this.activeCaseTypeId}`);
                    }

                    query = '?' + parameters.join('&')
                }

                if (this.activeSizeId || this.modelId === '12') {
                    this.$http.get(`products/${this.modelId}` + query).then(response => {
                        this.products = response;
                    });
                }
            },
            setActiveCategoryId(categoryId) {
                this.activeCategoryId = categoryId;
            },
            setActiveSize(sizeId) {
              this.activeSizeId = sizeId;
              localStorage.setItem(this.key, sizeId);

              this.fetchSeries();
            },
            showDialog (product) {
                this.showModal = true;
                this.activeProductName = product.series.name;
                this.activeProductId = product.id;
            },
            sendEmail() {
                let data = new FormData();
                data.append('user', this.userName);
                data.append('telephone', this.telephone);
                data.append('product', this.activeProductId);

                this.sending = true;
                window.ga('send', {
                    hitType: 'event',
                    eventCategory: 'ProductFormSubmit',
                    eventAction: 'submit',
                    eventLabel: `Product - ${this.activeProductName} Form Submit`
                });
                this.$http.post('send', data).then(response => {
                    this.sended = true;
                    this.sending = false;
                    window.setTimeout(() => {
                        this.showModal = false;
                        this.sended = false;
                    }, 1200);
                });
            }
        },
    }
</script>

<style>
    .resize {
        width: 100%;
        padding-bottom: 50px;
        font-size: 0;
    }

    .slider-with-categories {
        width: 100%;
    }

    .categories {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }

    .price {
        margin-top: 20px;
        display: inline-block;
        position: relative;
        outline: 0;
        font-style: normal;
        font-weight: 700;
        font-family: inherit;
        padding: 17px 43px;
        font-size: 13px;
        line-height: 1.7em;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 55px;
        border: 1px solid #df7366;
        background: white;
        color: #df7366;
        -webkit-transition: .3s;
        transition: .3s;
        cursor: pointer;
    }

    .price:hover {
        background: #df7366;
        color: white;
    }

    .categories .category {
        margin: 5px;
        display: inline-block;
        position: relative;
        outline: 0;
        font-style: normal;
        font-weight: 700;
        font-family: inherit;
        padding: 7px 14px;
        font-size: 13px;
        line-height: 1.7em;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 10px;
        border: 1px solid #df7366;
        background: white;
        color: #df7366;
        -webkit-transition: .3s;
        transition: .3s;
    }

    .categories .category.active {
        color: white;
        background: #df7366 !important;
    }

    .categories .category:hover {
        background: #eee;
        background: rgba(180, 180, 180, .2);
    }

    .image-container, .info {
        display: inline-block;
        vertical-align: top;
    }

    .image-container {
        width: 40%;
    }

    .image-container img {
        width: 80%;
        margin: 70px auto 0 auto;
        display: block;
        height: 100%;
        object-fit: contain;
    }

    .info {
        width: 50%;
        margin-left: 10%;
        font-size: 14px;
    }

    .info .title {
        margin-top: 25px;
        font-size: 28px;
        font-weight: 600;
    }

    .info .description {
        font-size: 1.1em;
        line-height: 1.15em;
    }
    .info .description ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .info .description ul li{
        padding: 0;
        font-size: 16px;
        margin-bottom: 7px;
    }
    .info .characteristics p {
        font-size: 16px;
        margin-bottom: 7px;
        line-height: 16px;
    }
    .info .characteristics p span {
        font-weight: 400;
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #df7366;
    }

    .filters {
        margin-bottom: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .filters select {
        font-size: 13px;
        padding: 7px 14px;
        border-radius: 10px;
        border: 1px solid #df7366;
        background: white;
        color: #df7366;
        font-weight: 700;
        outline: none;
        margin-right: 40px;
        margin-top: 5px;
        width: 285px;
    }

    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #eeeeee;
        background: rgba(0, 0, 0, .2);
        z-index: 99;
    }

    .popup .popup-inner {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        max-width: 600px;
        padding: 60px 30px 30px;
        background: white;
        transform: translate(-50%, -50%);
    }

    .popup .popup-inner h3 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .popup .popup-inner p {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .popup .popup-inner label {
        margin-bottom: 5px;
    }

    .popup .popup-inner input {
        padding: 10px;
        margin-bottom: 10px;
        outline: none !important;
    }

    .popup .popup-inner .actions {
        float: right;
    }

    .popup .popup-inner button {
        margin-top: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 2em;
    }

    .popup .popup-inner button.close {
        border: 1px solid #df7366;
        background: none;
        color: #df7366;
        margin-right: 10px;
    }

    .no-results *{
        text-align: center;
    }
    .no-results h3{
        margin-bottom: 20px;
    }

    @media screen and (min-width: 737px) {
        .categories .category {
            margin-right: 10px;
        }
    }
    @media screen and (max-width: 900px) {
        .image-container,.popup .popup-inner .actions , .info {
            width: 100%;
            margin-left: 0;
        }
        .info .description {
            width: 95%;
        }
        .swiper-button-prev, .swiper-button-next {
            display: none;
        }
        .price {
            left: 50%;
            transform: translate(-50%);
        }
        button.large {
            line-height: 2em;
        }
        section > header > div {
            display: none;
        }
    }
</style>