@font-face {
  font-family: Raleway-Regular;
  src: url('/assets/admin/fonts/raleway/Raleway-Regular.ttf'); 
}

@font-face {
  font-family: Raleway-Medium;
  src: url('/assets/admin/fonts/raleway/Raleway-Medium.ttf'); 
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url('/assets/admin/fonts/raleway/Raleway-SemiBold.ttf'); 
}

@font-face {
  font-family: Raleway-Bold;
  src: url('/assets/admin/fonts/raleway/Raleway-Bold.ttf');
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Raleway-Medium;
}

.wrapper-page {
  position: relative;
  width: auto;
  height: 100vh;
  background: #ebebeb;
}

.panel {
  border-radius: 8px;
  width: 560px;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  & .panel-body {
    padding: 85px;

    & .title {
      font-family: Raleway-Medium;
      font-size: 30px;
      color: #555555;
      line-height: 1.2;
      text-transform: uppercase;
      text-align: left;
    
      width: 100%;
      display: block;
      padding-bottom: 32px;
    }
    
    & .label {
      display: block;
      padding-bottom: 11px;
      font-family: Raleway-SemiBold;
      font-size: 13px;
      color: #555555;
      line-height: 1.4;
      text-transform: uppercase;
    }
  }
}

.input-wrap {
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  margin-bottom: 36px;
  & input {
    font-family: Raleway-Medium;
    color: #555555;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 100%;
    background: transparent;
    height: 55px;
    padding: 0 25px 0 25px;
    border:none;
  }
}

.actions {
  & >button {
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 55px;
    background-color: #333333;
    border-radius: 27px;
    transition: all 0.4s;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
      background: #1565c0;
    }
  }
}

.error {
  margin-top: 20px;
  color: red;
}