 <template>
    <card-page :title="$route.name"
        edit-url="/models"
        :loading="loading"
        @save="save()">
        <product-model-form ref="form"
            :product-model="productModel"
            mode="update"
        ></product-model-form>
    </card-page>
</template>

<script>
    import ProductModelForm from './form.vue';
    import CardPage from '../@common/cardPageLayout.vue';

    export default {
        data() {
            return {
                loading: false,
                productModel: {
                    name: '',
                    slug: '',
                    order: '',
                    description: ''
                }
            }
        },

        components: {
            ProductModelForm,
            CardPage
        },

        created () {
            this.load();
        },

        methods: {
            load () {
                this.$http.get(`models/${this.$route.params.id}`).then((model) => {
                    this.productModel = model;
                }); 
            },

            async save () {
                if (this.$refs.form.validate()){

                    const data = new FormData();

                    for (let key in this.productModel) {
                        data.append(key, this.productModel[key]);
                    }

                    try {
                        this.loading = true;
                        let response = await this.$http.post(`models/${this.$route.params.id}`, data);
                        this.loading = false;
                        await this.load();
                        if (response.result == 'success') {
                            this.flash('Модель обновлёна', 'success');
                        }
                    } catch (e) {
                        this.flash(`Ошибка: ${e.message}`, 'error');                    
                    }
                }
            }
        }
    }
</script>