<template>
    <v-form v-model="valid" ref="form" lazy-validation>
        <v-layout child-flex wrap>
            <v-flex md6>
                <v-text-field
                    label="Название типа продукта"
                    v-model="productModel.name"
                    :rules="reqRules"
                    required
                ></v-text-field>
            </v-flex>

            <v-flex md6>
                <v-text-field
                    label="Ссылка типа продукта"
                    v-model="productModel.slug"
                    :rules="reqRules"
                    required
                ></v-text-field>
            </v-flex>

            <v-flex md6>
                <v-text-field
                    label="Порядок типа продукта"
                    v-model="productModel.order"
                    :rules="reqRules"
                    required
                ></v-text-field>
            </v-flex>

            <v-flex md12>
                <v-text-field
                    label="Описание типа продукта"
                    v-model="productModel.description"
                    multi-line
                ></v-text-field>
            </v-flex>
        </v-layout>
    </v-form>
</template>

<script>
    export default {
        props: { 
            productModel: Object,
            mode: String
        },
        
        data() {
            return {
                valid: true,
                reqRules: [
                    v => !!v || 'Это обязательное поле'
                ]
            }
        },

        methods: {
            validate () {
                return this.$refs.form.validate();
            },
            clear () {
                this.$refs.form.reset()
            }
        }
    }
</script>

<style scoped>
    input[type=file] {
        position: absolute;
        left: -99999px;
    }
</style>