<template>
    <card-page hide-actions>
        <v-data-table
            :headers="headers"
            :items="productModels"
            hide-actions
            class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <td class="text-md-left">{{ props.item.id }}</td>
                <td class="text-md-left">{{ props.item.name }}</td>
                <td class="text-md-center">{{ props.item.slug }}</td>
                <td class="justify-center layout px-0">
                    <v-btn icon class="mx-0" @click="editItem(props.item)">
                    <v-icon color="teal">edit</v-icon>
                    </v-btn>
                    <v-btn icon class="mx-0" @click="deletecategory(props.item)">
                    <v-icon color="pink">delete</v-icon>
                    </v-btn>
                </td>
            </template>
        </v-data-table>
    </card-page>
</template>

<script>
    import CardPage from '../@common/cardPageLayout.vue';

    export default {
        components: {
            CardPage
        },

        data() {
            return {
                productModels: [],
                headers: [
                    {
                        text: 'ID',
                        align: 'center',
                        sortable: false,
                        value: 'id'
                    },
                    {
                        text: 'Название типа продукта',
                        align: 'left',
                        sortable: false,
                        value: 'name_ru'
                    },
                    { 
                        text: 'Адрес ссылки',
                        align: 'center',
                        value: 'slug_ru',
                        sortable: false 
                    },
                    { text: '', align: 'center', value: 'name', sortable: false }
                ]
            }
        },

        created () {
            this.load();
        },

        methods: {
            load () {
                this.$http.get('models').then((response) => {
                    this.productModels = response;
                });
            },

            async deletecategory (category) {
                try {
                    let response = await this.$http.delete(`models/${category.id}`);
                    await this.load();
                    this.flash('Модель успешно удалёна', 'success');
                } catch(e) {
                    this.flash('Ошибка', 'error');
                }
                
            },
            editItem (category) {
                this.$router.push(`/models/${category.id}`);
            }
        }
    }
</script>

<style>
    .v-card, .card {
        width: 100%;
    }
    .v-table, .table__overflow {
        overflow-x: hidden !important;
    }
</style>