<template>
    <v-card>
        <v-container fluid pa-2>
            <v-card-title primary-title>
                <div>
                    <h2 class="headline mb-0">{{ title }}</h2>
                </div>
            </v-card-title>
            <v-container fluid grid-list-md pa-4>
                <slot></slot>
                <v-card-actions v-if="!hideActions">
                    <v-container fluid class="align-end">
                        <v-btn v-if="editUrl" 
                            flat color="primary" 
                            @click="$router.push(editUrl)">
                            Вернуться к списку
                        </v-btn>
                        <v-btn v-else 
                            flat color="primary" 
                            @click="clear()">
                            Очистить форму
                        </v-btn>
                        <v-btn :loading="loading" right color="primary" @click="save()">Сохранить</v-btn>
                    </v-container>
                </v-card-actions>
            </v-container> 
        </v-container>
    </v-card>
</template>

<script>
    export default {
        props: {
            title: String,
            loading: Boolean, 
            editUrl: String,
            hideActions: Boolean
        },

        methods: {
            
            clear () {
                this.$emit('save');
            },

            save () {
                this.$emit('save');
            }
        }
    }
</script>

<style lang="scss">
    .card {
        width: 100%;
    }
    .table__overflow{
        overflow-x: hidden !important;
    }
    .card__actions {
        & > .container {
            padding: 0;
        }
    }
    button+button {
        margin-left: 15px;
    }
</style>