<template>
	<v-navigation-drawer
      fixed
      :clipped="$vuetify.breakpoint.mdAndUp"
      app
	  v-model="drawer"
    >
      <v-list dense>
        <template v-for="item in pages">
          <v-list-group
            v-if="item.children"
            :key="item.path"
            :prepend-icon="item.props.icon"
          >
            <v-list-tile slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ item.props.partName }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              v-for="(child, i) in item.children"
              :key="i"
			  v-if="child.props.showInMenu"
              @click="redirect(item.path, child.path)"
            >
              <v-list-tile-action v-if="child.props.icon">
                <v-icon>{{ child.props.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ child.props.partName }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
        </template>
      </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
	props: ['pages'],
	data () {
		return {
			drawer: null
		}
	},
	computed: {
		show () {
			return this.drawer;
		}
	},
	methods: {
		redirect(path, endpoint) {
			this.$router.push(`${path}/${endpoint}`);
		}
	}
}
</script>