<template>
    <v-card class="pa-4">
        <v-form v-model="valid" ref="form" lazy-validation>
            <v-layout child-flex wrap>
                <v-flex md6>
                    <v-text-field
                        label="Порядковый номер"
                        v-model="photo.order"
                        :rules="reqRules"
                        required
                    ></v-text-field>
                </v-flex>
                <v-flex md6>
                    <v-text-field prepend-icon="attach_file" 
                                single-line
                                v-model="mainFileName" 
                                label="Фото"
                                @click.native="onFocus()"
                                ref="fileTextField">
                    </v-text-field>
                    <input type="file" ref="mainFileInput" @change="onFileChange">
                    </v-flex>
                <v-flex md12>
                    <v-text-field
                        label="Описание фотографии"
                        v-model="photo.alt"
                        :rules="reqRules"
                        required
                        multi-line
                    ></v-text-field>
                </v-flex>
            </v-layout>
        </v-form>
        <v-card-actions >
            <v-container fluid class="align-end">
                <v-btn flat right color="primary" @click="closeDialog()">Закрыть</v-btn>
                <v-btn right color="primary" @click="save" :loading="loading">Сохранить</v-btn>
            </v-container>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        props: ['parentId', 'item'],
        data () {
            return {
                valid: true,
                loading: false,
                mainFileName: '',
                reqRules: [
                    v => !!v || 'Это обязательное поле'
                ],
                photo: {
                    alt: '',
                    order: '',
                    image: '',
                    parent_id: this.parentId
                }
            }
        },

        mounted() {
            this.mainFileName = this.photo.image;
        },

        methods: {
            closeDialog () {
                this.$emit('close');
            },
            onFocus () {
                this.$refs.mainFileInput.click();
            },
            onFileChange($event) {
                this.photo.image = $event.target.files[0] || $event.dataTransfer.files[0];
                this.mainFileName = $event.target.files[0].name || $event.dataTransfer.files[0].name;
            },
            validate () {
                return this.$refs.form.validate();
            },
            clear () {
                this.$refs.form.reset()
            },
            save () {
                this.loading = true;

                const data = new FormData()
                for (let key in this.photo) {
                    data.append(key, this.photo[key]);
                }
                
                this.$http.post(`${this.item}/${this.$route.params.id}/image`, data).then((response) => {
                    this.loading = false;
                    this.flash('Фото добавлено', 'success');
                    this.$refs.form.hideImage = false;
                    this.$emit('added');
                },(error) => {
                    this.loading = false;
                    this.flash('Ошибка при добавлении', 'error');
                });
            }
        }
    }
</script>

<style scoped>
    input[type=file] {
        position: absolute;
        left: -99999px;
    }
</style>