 <template>
    <card-page :title="$route.name"
        edit-url="/products"
        :loading="loading"
        @save="save()">
        <product-form v-if="product.series_id"
            ref="form"
            :product="product"
            :loading="loading"
            mode="update"
        ></product-form>
    </card-page>
</template>

<script>
    import ProductForm from './form.vue';
    import CardPage from '../@common/cardPageLayout.vue';

    export default {
        data() {
            return {
                loading: false,
                product: {}
            }
        },

        components: {
            ProductForm,
            CardPage
        },

        created () {
            this.load();
        },

        methods: {
            load () {
                this.$http.get(`products/${this.$route.params.id}`).then((product) => {
                    this.product = product;
                }); 
            },

            async save () {
                if (this.$refs.form.validate()){

                    const data = new FormData();

                    for (let key in this.product) {
                        data.append(key, this.product[key]);
                    }

                    try {
                        this.loading = true;
                        let response = await this.$http.post(`products/${this.$route.params.id}`, data);
                        this.loading = false;
                        await this.load();
                        if (response.result == 'success') {
                            this.flash('Матрас обновлён', 'success');
                        }
                    } catch (e) {
                        this.flash(`Ошибка: ${e.message}`, 'error');                    
                    }
                }
            }
        }
    }
</script>