<template>
    <v-form v-model="valid" ref="form" lazy-validation>
        <v-layout child-flex wrap>
            <v-flex md6>
                <v-text-field
                    label="Цена матраса"
                    v-model="product.price"
                    :rules="reqRules"
                    required
                ></v-text-field>
            </v-flex>

            <v-flex md6>
                <v-text-field
                    label="Порядок матраса"
                    v-model="product.order"
                    :rules="reqRules"
                    required
                ></v-text-field>
            </v-flex>

            <v-flex md6>
                <v-select
                    :items="models"
                    v-model="activeModel"
                    item-text="name"
                    item-value="id"
                    label="Выберите тип продукта"
                    autocomplete
                    :rules="reqRules"
                    required
                ></v-select>
            </v-flex>

            <v-flex md6>
                <v-select
                    :items="filteredSeries"
                    v-model="product.series_id"
                    item-text="name"
                    item-value="id"
                    label="Выберите серию"
                    autocomplete
                    :readonly="!activeModel"
                    :hint="activeModel ? '' : 'Сначала выберите модель'"
                    :rules="reqRules"
                    required
                ></v-select>
            </v-flex>

            <v-flex md6>
                <v-select
                    :items="sizes"
                    v-model="product.size_id"
                    item-text="name"
                    item-value="id"
                    label="Выберите размер"
                    autocomplete
                    :rules="reqRules"
                    required
                ></v-select>
            </v-flex>

            <v-flex md6>
                <v-select
                    :items="caseTypes"
                    v-model="product.case_type_id"
                    item-text="name"
                    item-value="id"
                    label="Выберите тип чехла"
                    autocomplete
                    :rules="reqRules"
                    required
                ></v-select>
            </v-flex>
        </v-layout>
    </v-form>
</template>

<script>
    export default {
        props: { 
            product: Object,
            mode: String,
            loading: Boolean
        },
        
        data() {
            return {
                valid: true,
                activeModel: null,
                models: [],
                series: [],
                sizes: [],
                caseTypes: [],
                reqRules: [
                    v => !!v || 'Это обязательное поле'
                ]
            }
        },

        computed: {
            filteredSeries: function () {
                return this.series.filter(item => item.model_id === this.activeModel);
            }
        },

        methods: {
            validate () {
                return this.$refs.form.validate();
            },
            clear () {
                this.$refs.form.reset()
            }
        },

        created() {

            this.$http.get('models').then((response) => {
                this.models = response;
            });
            this.$http.get('series').then((response) => {
                this.series = response;
                 if (this.mode === 'update') {
                    const seria = this.series.find(item => {
                        return item.id === this.product.series_id;
                    });
                    this.activeModel = seria && seria.model_id;
                }
            });
            this.$http.get('sizes').then((response) => {
                this.sizes = response;
            });
            this.$http.get('cases').then((response) => {
                this.caseTypes = response;
            });
        },
    }
</script>

<style scoped>
    input[type=file] {
        position: absolute;
        left: -99999px;
    }
</style>