<template>
    <card-page hide-actions>
        <div class="filters">
            <v-select
                    :items="models"
                    v-model="filterModel"
                    item-text="name"
                    item-value="id"
                    label="Фильтр по типу продукта"
                    autocomplete
            ></v-select>
            <v-select
                    :items="series"
                    v-model="filterSeria"
                    item-text="name"
                    item-value="id"
                    label="Фильтр по модели"
                    autocomplete
            ></v-select>
            <v-select
                    :items="sizes"
                    v-model="filterSize"
                    item-text="name"
                    item-value="id"
                    label="Фильтр по размеру"
                    autocomplete
            ></v-select>
            <v-select
                    :items="cases"
                    v-model="filterCase"
                    item-text="name"
                    item-value="id"
                    label="Фильтр по чехлу"
                    autocomplete
            ></v-select>
        </div>

        <v-data-table
                :headers="headers"
                :items="filteredProducts"
                class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <td class="text-md-left">{{ props.item.order }}</td>
                <td class="text-md-center">{{ getName(props.item.series_id) }}</td>
                <td class="text-md-center">{{ getSize(props.item.size_id) }}</td>
                <td class="text-md-center">{{ getCase(props.item.case_type_id) }}</td>
                <td class="text-md-center" style="width: 280px">
                    <v-layout row style="width: 200px; align-items: center">
                        <v-flex md7>
                            <input style="height: 20px; width: 100px; border: 1px solid gray; padding: 10px"
                                   box
                                   v-model="props.item.price">
                        </v-flex>
                        <v-flex md5>
                            <v-btn flat small color="teal" @click="forceEditItem(props.item)">Изменить цену</v-btn>
                        </v-flex>
                    </v-layout>
                </td>

                <td class="justify-center layout px-0">
                    <v-btn icon class="mx-0" @click="editItem(props.item)">
                        <v-icon color="teal">edit</v-icon>
                    </v-btn>
                    <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                        <v-icon color="pink">delete</v-icon>
                    </v-btn>
                </td>
            </template>
        </v-data-table>
    </card-page>
</template>

<script>
    import CardPage from '../@common/cardPageLayout.vue';

    export default {
        components: {
            CardPage
        },

        data() {
            return {
                filterSeria: null,
                filterSize: null,
                filterCase: null,
                filterModel: null,
                filterPrice: '',
                products: [],
                series: [],
                sizes: [],
                cases: [],
                models: [],
                headers: [
                    {
                        text: 'Порядковый номер',
                        align: 'center',
                        sortable: false,
                        value: 'order',
                    },
                    {
                        text: 'Название',
                        align: 'center',
                        value: 'price',
                        sortable: false
                    },
                    {
                        text: 'Размер',
                        align: 'center',
                        value: 'price',
                        sortable: false
                    },
                    {
                        text: 'Чехол',
                        align: 'center',
                        value: 'price',
                        sortable: false
                    },
                    {
                        text: 'Цена',
                        align: 'center',
                        value: 'price',
                        sortable: false
                    },
                    {text: '', align: 'center', value: 'name', sortable: false}
                ]
            }
        },

        created() {
            this.load();
        },

        computed: {
            filteredProducts: function () {
                let filteredProducts = this.products;

                if (this.filterModel) {
                    filteredProducts = filteredProducts.filter(product => {
                        return product.series.model_id === this.filterModel;
                    });
                }

                if (this.filterSeria) {
                    filteredProducts = filteredProducts.filter(product => {
                        return product.series_id === this.filterSeria;
                    });
                }

                if (this.filterSize) {
                    filteredProducts = filteredProducts.filter(product => {
                        return product.size_id === this.filterSize;
                    });
                }

                if (this.filterCase) {
                    filteredProducts = filteredProducts.filter(product => {
                        return product.case_type_id === this.filterCase;
                    });
                }

                return filteredProducts;
            }
        },

        methods: {
            load() {
                this.$http.get('products').then((response) => {
                    this.products = response;
                });
                this.$http.get('models').then((res) => {
                    this.models = res;
                });
                this.$http.get('sizes').then((response) => {
                    this.sizes = [{name: 'Все', id: 0}].concat(response);
                });
                this.$http.get('series').then((response) => {
                    this.series = [{name: 'Все', id: 0}].concat(response);
                });
                this.$http.get('cases').then((response) => {
                    this.cases = [{name: 'Все', id: 0}].concat(response);
                });
            },

            getSize(id) {
                const size = this.sizes.find(item => item.id === id);

                return size ? size.name : '';
            },

            getName(id) {
                const seria = this.series.find(item => item.id === id);

                return seria ? seria.name : '';
            },

            getCase(id) {
                const caseType = this.cases.find(item => item.id === id);

                return caseType ? caseType.name : '';
            },

            async deleteItem(item) {
                try {
                    await this.$http.delete(`products/${item.id}`);
                    await this.load();
                    this.flash('Матрас успешно удалён', 'success');
                } catch (e) {
                    this.flash('Ошибка', 'error');
                }

            },
            editItem(item) {
                this.$router.push(`/products/${item.id}`);
            },
            forceEditItem (item) {
                const data = new FormData();

                for (let key in item) {
                    data.append(key, item[key]);
                }

                this.$http.post(`products/${item.id}`, data).then(() => {
                    this.flash('Цена отредактированна', 'success');
                }, (e) => {
                    this.flash(`Ошибка: ${e.message}`, 'error');
                });
            }
        }
    }
</script>

<style>
    .v-card, .card {
        width: 100%;
    }

    .v-table, .table__overflow, .v-table__overflow {
        overflow-x: hidden !important;
    }

    .filters {
        display: flex;
        justify-content: space-around;
    }

    .filters .input-group {
        max-width: 20%;
    }
</style>