<template>
    <card-page
            :title="$route.name"
            :loading="loading"
            @clear="clear()"
            @save="save()">
        <promotion-form ref="form"
                   :promotion="promotion"
                   mode="create"
        ></promotion-form>
    </card-page>
</template>

<script>
    import promotionForm from './form.vue';
    import CardPage from '../@common/cardPageLayout.vue';

    export default {
        data() {
            return {
                loading: false,
                promotion: {}
            }
        },

        components: {
            promotionForm,
            CardPage
        },

        methods: {

            clear () {
                this.$refs.form.clear();
            },

            async save () {
                if (this.$refs.form.validate()){
                    let postObject = {};

                    for (let key in this.promotion) {
                        if (key !== 'image') {
                            postObject[key] = this.promotion[key];
                        }
                    }

                    let json = JSON.stringify(postObject);

                    this.loading = true;

                    let formData = new FormData();
                    formData.append('json', json);
                    formData.append('image', this.promotion['image']);

                    this.$http.post('promotions', formData).then((response) => {
                        if (response.result == 'success') {
                            this.flash(`Акция создана`, 'success');
                            this.loading = false;
                            this.$refs.form.clear();
                        }
                    },() => {
                        this.loading = false;
                        this.flash(`Ошибка ${e.message}`, 'error');
                    });
                }
            }
        }
    }
</script>