<template>
    <card-page :title="$route.name" edit-url="/models" :loading="loading" @save="save()">
        <promotion-form
                ref="form"
                :promotion="promotion"
                :loading="loading"
                mode="update"
        ></promotion-form>
    </card-page>
</template>

<script>
    import PromotionForm from "./form.vue";
    import CardPage from "../@common/cardPageLayout.vue";

    export default {
        data() {
            return {
                loading: false,
                promotion: {},
            };
        },

        components: {
            PromotionForm,
            CardPage
        },

        created() {
            this.load();
        },

        methods: {
            load() {
                this.loading = true;

                this.$http.get(`promotions/${this.$route.params.id}`).then(promotion => {
                    this.promotion = promotion;

                    this.loading = false;
                });
            },

            async save() {
                if (this.$refs.form.validate()) {
                    let postObject = {};

                    for (let key in this.promotion) {
                        if (key !== 'image') {
                            postObject[key] = this.promotion[key];
                        }
                    }

                    let json = JSON.stringify(postObject);

                    let formData = new FormData();
                    formData.append('json', json);
                    formData.append('image', this.seria['image']);

                    try {
                        this.loading = true;
                        let response = await this.$http.post(`promotions/${this.$route.params.id}`, formData);
                        this.loading = false;
                        await this.load();
                        if (response.result == "success") {
                            this.flash("Акция обновлёна", "success");
                        }
                    } catch (e) {
                        this.flash(`Ошибка: ${e.message}`, "error");
                    }
                }
            },
        }
    };
</script>