<template>
    <v-form v-model="valid" ref="form" lazy-validation>
        <v-layout child-flex wrap>
            <v-flex md6>
                <v-text-field
                        label="Заголовок акции"
                        v-model="promotion.title"
                        :rules="reqRules"
                        required
                ></v-text-field>
            </v-flex>

            <v-flex md6>
                <v-text-field
                        label="Описание акции"
                        v-model="promotion.text"
                        :rules="reqRules"
                        required
                ></v-text-field>
            </v-flex>

            <v-flex md12>
                <v-layout child-flex wrap>
                    <v-flex md6>
                        <v-text-field prepend-icon="attach_file"
                                      single-line
                                      v-model="mainFileName"
                                      label="Картинка акции"
                                      @click.native="onFocus()"
                                      ref="fileTextField">
                        </v-text-field>
                        <input type="file" ref="mainFileInput" @change="onFileChange">
                    </v-flex>
                    <v-flex md4>
                        <v-btn v-if="promotion.image_url && mode === 'update' && !hideImage"
                               color="primary" dark
                               @click.stop="dialog = true">
                            Смотреть
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-flex>

            <v-flex md6>
                <v-date-picker
                        label="Начало акции"
                        v-model="promotion.date_from"
                        :rules="reqRules"
                        required
                ></v-date-picker>
            </v-flex>

            <v-flex md6>
                <v-date-picker
                        label="Конец акции"
                        v-model="promotion.date_to"
                        :rules="reqRules"
                        required
                ></v-date-picker>
            </v-flex>

        </v-layout>
        <v-dialog v-model="dialog" max-width="500px">
            <v-card>
                <v-card-text>
                    <img :src="promotion.image_url" width="400px"/>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" flat @click.stop="dialog=false">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-form>
</template>

<script>
    export default {
        props: {
            promotion: Object,
            mode: String,
            loading: Boolean,
        },

        data() {
            return {
                valid: true,
                hideImage: false,
                dialog: false,
                mainFileName: '',
                reqRules: [
                    v => !!v || 'Это обязательное поле'
                ]
            }
        },

        watch: {
            loading: function () {
                if (this.mode === 'update') {
                    this.mainFileName = this.promotion.image;
                }
            }
        },

        methods: {
            onFocus() {
                this.$refs.mainFileInput.click();
            },
            onFileChange($event) {
                if (this.mode = 'update') {
                    this.hideImage = true;
                }
                this.promotion.image = $event.target.files[0] || $event.dataTransfer.files[0];
                this.mainFileName = $event.target.files[0].name || $event.dataTransfer.files[0].name;
            },
            validate() {
                return this.$refs.form.validate();
            },
            clear() {
                this.$refs.form.reset()
            }
        },
    }
</script>

<style scoped>
    input[type=file] {
        position: absolute;
        left: -99999px;
    }

    h3 {
        margin: 15px;
    }

    .redIcon {
        color: red;
    }

</style>