<template>
    <card-page hide-actions>
        <v-data-table
                :headers="headers"
                :items="promotions"
                hide-actions
                class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <td class="text-md-left">{{ props.item.id }}</td>
                <td class="text-md-left">{{ props.item.title }}</td>
                <td class="text-md-center">{{ props.item.date_from }}</td>
                <td class="text-md-center">{{ props.item.date_to }}</td>
                <td class="justify-center layout px-0">
                    <v-btn icon class="mx-0" @click="editItem(props.item)">
                        <v-icon color="teal">edit</v-icon>
                    </v-btn>
                    <v-btn icon class="mx-0" @click="deletePromotion(props.item)">
                        <v-icon color="pink">delete</v-icon>
                    </v-btn>
                </td>
            </template>
        </v-data-table>
    </card-page>
</template>

<script>
    import CardPage from '../@common/cardPageLayout.vue';

    export default {
        components: {
            CardPage
        },

        data() {
            return {
                promotions: [],
                headers: [
                    {
                        text: 'Порядковый номер',
                        align: 'center',
                        sortable: false,
                        value: 'id'
                    },
                    {
                        text: 'Название',
                        align: 'left',
                        sortable: false,
                        value: 'name'
                    },
                    {
                        text: 'Начало акции',
                        align: 'center',
                        value: 'slug',
                        sortable: false
                    },
                    {
                        text: 'Конец акции',
                        align: 'center',
                        value: 'slug',
                        sortable: false
                    },
                    { text: '', align: 'center', value: 'name', sortable: false }
                ]
            }
        },

        created () {
            this.load();
        },

        methods: {
            load () {
                this.$http.get('promotions').then((response) => {
                    this.promotions = response;
                });
            },

            async deletePromotion (promotion) {
                try {
                    let response = await this.$http.delete(`promotions/${promotion.id}`);
                    await this.load();
                    this.flash('Акция успешно удалена', 'success');
                } catch(e) {
                    this.flash('Ошибка', 'error');
                }

            },
            editItem (promotion) {
                this.$router.push(`/promotions/${promotion.id}`);
            }
        }
    }
</script>

<style>
    .v-card, .card {
        width: 100%;
    }
    .v-table, .table__overflow {
        overflow-x: hidden !important;
    }
</style>