 <template>
    <card-page :title="$route.name"
        edit-url="/sizes"
        :loading="loading"
        @save="save()">
        <size-form ref="form"
            :size="size"
            mode="update"
        ></size-form>
    </card-page>
</template>

<script>
    import SizeForm from './form.vue';
    import CardPage from '../@common/cardPageLayout.vue';

    export default {
        data() {
            return {
                loading: false,
                size: {
                    name: '',
                    slug: '',
                    order: ''
                }
            }
        },

        components: {
            SizeForm,
            CardPage
        },

        created () {
            this.load();
        },

        methods: {
            load () {
                this.$http.get(`sizes/${this.$route.params.id}`).then((size) => {
                    this.size = size;
                }); 
            },

            async save () {
                if (this.$refs.form.validate()){

                    const data = new FormData();

                    for (let key in this.size) {
                        data.append(key, this.size[key]);
                    }

                    try {
                        this.loading = true;
                        let response = await this.$http.post(`sizes/${this.$route.params.id}`, data);
                        this.loading = false;
                        await this.load();
                        if (response.result == 'success') {
                            this.flash('Размер обновлён', 'success');
                        }
                    } catch (e) {
                        this.flash(`Ошибка: ${e.message}`, 'error');                    
                    }
                }
            }
        }
    }
</script>